<div>
  <span>
    <h3>
      Bienvenido,
      <%= studentName %>
      .
    </h3>
  </span>

  <span>
    <h3>
      <%= className %>
      .
    </h3>
  </span>

  <span>
    <h3>
      <%= classId %>
      . 
    </h3>
  </span>
</div>
