<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- general -->
    <meta charset="utf-8">
    <title>Vedar</title>
    <!-- estilos personalizados -->
    <link rel="stylesheet" href="css\style.css">
    <!-- bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!-- tipografias -->
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Varela+Round&display=swap" rel="stylesheet">
  </head>
  <body>
    <div>
      <h1 class="display-3"><b>Vedar</b></h1>
    </div>
