<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- general -->
    <meta charset="utf-8">
    <title>Vedar</title>
    <!-- estilos personalizados -->
    <link rel="stylesheet" href="css\style.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- tipografias -->
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Varela+Round&display=swap" rel="stylesheet">
  </head>
  <body>
    <div>
      <h1 class="display-3"><b>Vedar</b></h1>
    </div>
