<%- include('partials/header1') -%>

<div class="container-fluid">
  <div class="arArea col-12">
      <h1>Cabecera con informacion de curso, clase, etc</h1>
    <div>
      <nav class="nav nav-pills flex-column flex-sm-row nav-sup">
        <a class="flex-sm-fill btn btn-md btn-light text-sm-center nav-link" href="#">Tomar pantallazo</a>
        <a class="flex-sm-fill btn btn-md btn-success text-sm-center nav-link" href="#">Pedir Palabra</a>
        <a class="flex-sm-fill btn btn-md btn-info text-sm-center nav-link" href="#">Invitar</a>
        <a class="flex-sm-fill btn btn-md btn-danger text-sm-center nav-link" href="#">Salir</a>
      </nav>

      <div>
          <img src="https://images.unsplash.com/photo-1519114563721-eb52c00b9129?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80" class="float-left col-2">
      </div>

      <div>
          <img src="https://images.unsplash.com/photo-1519114563721-eb52c00b9129?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80" class="float-right col-2">
      </div>


      <!-- <div class="float-right col-1">
        <nav class="nav flex-column nav nav-pills">
          <a class="flex-sm-fill btn btn-sm btn-info text-sm-center nav-link" href="#">Opcion 1</a>
          <a class="flex-sm-fill btn btn-sm btn-info text-sm-center nav-link" href="#">Opcion 2</a>
          <a class="flex-sm-fill btn btn-sm btn-info text-sm-center nav-link" href="#">Opcion 3</a>
          <a class="flex-sm-fill btn btn-sm btn-info text-sm-center nav-link" href="#">Opcion 4</a>
        </nav>
      </div> -->

    </div>
    <img src="https://images.unsplash.com/photo-1533299346856-b1a85808f2ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80" class="pantallaAR col-8">
    <br>
    <nav class="nav nav-pills flex-column flex-sm-row nav-sup">
      <a class="flex-sm-fill btn btn-md btn-light text-sm-center nav-link" href="#">Tomar pantallazo</a>
      <a class="flex-sm-fill btn btn-md btn-success text-sm-center nav-link" href="#">Pedir Palabra</a>
      <a class="flex-sm-fill btn btn-md btn-info text-sm-center nav-link" href="#">Invitar</a>
      <a class="flex-sm-fill btn btn-md btn-danger text-sm-center nav-link" href="#">Salir</a>
    </nav>
    
  </div>
</div>



<%- include('partials/footer1') -%>
