<%- include('partials/header1') %>
<div>
  <div>
    <h1>Aumentando tu Realidad</h1>
  </div>
  <div class="text-center">
    <a class="btn btn-lg btn-light text-uppercase" href="/register" type="button">Registrarme</a>
    <a class="btn btn-lg btn-light text-uppercase" href="/login" type="button">Iniciar Sesi&oacuten</a>
  </div>
</div>

<%- include('partials/footer1') %>
